@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* Base Styles */
*,
*::before,
*::after{
    box-sizing: inherit;
}
:root{
    box-sizing: border-box;
    /* Color Variables */
    --color-1: #2B2E4A;
    --color-2: #bbffd8;
    --color-3: #903749;
    --color-4: #53354A;

    --font-color-light: #dadbea;
    --font-color-dark: #1e1e1e;
    --font-color-subtext: rgb(123, 205, 255);
    --font-color-code: rgb(43, 213, 216);

    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
}

/* Navigation bar fixed at top.*/
#navbar{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    left: 0;
    top: 0;
    height: 8vh;
    width: 100vw;
    background-color: var(--color-3);
    padding-right: 1em;
}
#navbar > a:link,#navbar > a:visited {
    text-decoration: none;
    color: var(--font-color-light);
    padding: .85em 1.2em;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 500;

}
#navbar > a:hover{
    background-color: var(--color-1);
    transition: .35s;
}

#welcome-section{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
    left: -8px;
    top: 0;
    background:  radial-gradient(var(--color-1)20%, var(--font-color-dark));
    color: var(--font-color-light);
}
.significant-text{
    position: absolute;
    top: 35vh;
    bottom: 31vh;
    left: 20vw;
    right: 20vw;
    text-align: center;
    margin: 0 auto;
    font-size: calc(1.2rem + 1.5vw);
}

.sub-text{
    color: var(--font-color-subtext);
    opacity: .9;
    font-style: italic;
    margin-top: -22px;
    animation: dissapaer 4s infinite linear;
}

@keyframes dissapaer{
    0%{
        opacity: .9;
    }
    15%{
        opacity: .4;
    }
    30%{
        opacity: 0;
    }
    45%{
        opacity: .4;
    }
    60%
    {
        opacity: .9;
    }
}


#projects{
    width: 100vw;
    padding-top: 4em;
    margin-left: -8px;
    
    background: radial-gradient(rgb(53, 144, 109), rgb(252, 208, 224));
    z-index: -1;
    color: var(--font-color-dark);
    text-align: center;
    align-items: center;
}
.projects-container{
    display: flex;
    flex-direction: column;
}
#projects-line{
    border-top: 3px solid var(--color-1);
    width: 55%;
    margin-bottom: 1.8em;
    margin-top: -.5em;
}
.project{
    width: 75%;
    margin: 0 auto;
}
.sub-heading{
    font-size: 2rem;
}
.project .project-image{
    border-radius: 2% 2% 0 0;
    width: 100%;
    object-fit: cover;
}
.project .project-name{
    background-color: var(--color-4);
    border-radius: 2%;
    margin-top: -15px;
    padding: 1.7em 0 1.2em 0;
    margin-bottom: 2em;
    color: var(--font-color-light);
    font-weight: bold;
    font-size: 1.4em;
}
.project .project-link{
    text-decoration: none;
}
.project .project-name .show-hover{
    opacity: 0;
    transition: .2s;
    color: var(--font-color-code);
}
.project-link:hover .project-name .show-hover{
   opacity: 1;
   transition: .2s;
}

#contact{
    background: radial-gradient(var(--color-1), var(--font-color-dark));
    height: 99vh;
    width: 100vw;
    margin-top: -53px;
    margin-left: -8px;
}
.contact-text{
    font-size: calc(1rem + 1.5vw);
    color: var(--font-color-light);
    position: relative;
    top: 38vh;
    text-align: center;
}
.link-container{
    display: flex;
    justify-content: center;
    
    position: relative;
    top: 41vh;
}

.link-contact{
    font-size: 2.5rem;
    padding: 0 1.2em;
    color: var(--font-color-light);
    transition: .3s;
    opacity: .7;
}
.link-contact:hover{
    transform: translateY(-5px);
    transition: .3s;
    color: var(--font-color-light);
    opacity: 1;
}


#footer-line{
    background-color: var(--color-3);
    border-color: var(--color-3);
    height: 6px;
    width: 100vw;
    margin-left: -8px;
    margin-top: -110px;
}
footer{
    text-align: center;
    color: var(--font-color-light);
}
#programmer{
    font-weight: bolder;
}

@media only screen and (min-width: 61em){
    .projects-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .project{
        width: 30em;
        
    }
    
    
 .project  .project-name{
        font-size: 1.2em;
    }
    
}


